<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OS_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D58E57A31E4571C0005B4D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58E57B41E4571C0005B4D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58E57BF1E4571C0005B4D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
